.home {
    background-color: #bbb8b5;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.inicio {
    margin-left: 150px;
    margin-right: 30px;
    padding: 24px;
    width: 25%;
    background-color: #92908d;
    box-shadow: 7px 7px 7px #6a6765;
    border-radius: 15px;
}

.sobreMim {
    width: 45%;
    margin-right: 150px;
    padding: 24px;
    background-color: #92908d;
    box-shadow: 7px 7px 7px #6a6765;
    border-radius: 15px;
}

.habilidades {
    background-color: #bbb8b5;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0px;
}

.habilidade1 {
    padding: 24px;
    width: 75%;
    text-align: center;
    background-color: #92908d;
    box-shadow: 7px 7px 7px #6a6765;
    border-radius: 15px;
}

.habilidade2 {
    flex-wrap: wrap;
}

.opacidade{
    width: 140px;
    background-color: #bbb8b5;
    padding: 14px;
    margin: 20px 20px;
    opacity: 70%;
    border-radius: 15px;
    transition: transform 0.5s;
    transform: translateX(0) scale(0.93);
}

.opacidade:hover {
    opacity: 100%;
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.carregamento {
    width: 100%;
    background-color: #92908d;
    border-radius: 10px;
}

.carregamento0 {
    width: 0%;
    height: 25px;
    color: white;
    background-color: green;
    border-radius: 10px;
    animation: progress-animation0 3s forwards;
}

.carregamento30 {
    width: 30%;
    height: 25px;
    color: white;
    background-color: green;
    border-radius: 10px;
    animation: progress-animation30 3s normal;
}

.carregamento50 {
    width: 50%;
    height: 25px;
    color: white;
    background-color: green;
    border-radius: 10px;
    animation: progress-animation50 3s normal;
}

.carregamento80 {
    width: 80%;
    height: 25px;
    color: white;
    background-color: green;
    border-radius: 10px;
    animation: progress-animation80 3s normal;
}

.carregamento99 {
    width: 98.5%;
    height: 25px;
    color: white;
    background-color: green;
    border-radius: 10px;
    animation: progress-animation99 3s normal;
}

@keyframes progress-animation0 {
    0% { width: 0%; }
    
    30% { width: 0%}
}

@keyframes progress-animation30 {
    0% { width: 0%; }
    
    30% { width: 30%}
}

@keyframes progress-animation50 {
    0% { width: 0%; }
    
    30% { width: 50%}
}

@keyframes progress-animation80 {
    0% { width: 0%; }
    
    80% { width: 80%}
}

@keyframes progress-animation99 {
    0% { width: 0%; }
    
    100% { width: 98.5%}
}

.textoCentralzado {
    text-align: center;
}

/* Tela a mais de 991px */
@media screen and (min-width: 991px) {

    .home {
        margin-top: 70px;
        padding: 24px 0px 24px 0px;
    }

    .menu {
        padding: 8px;
    }

    .contato {
        padding: 8px;
    }

    .habilidade2 {
        width: auto;
        display: flex;
        flex-direction: row;
    }
}

/* Tela a abaixo de 991px */
@media screen and (max-width: 991px){
    .home {
        margin-top: 210px;
        padding: 48px 0px 48px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .inicio {
        margin-left: 30px;
        margin-bottom: 50px;
        padding: 24px;
        width: 70%;
        text-align: center;
        background-color: #92908d;
        box-shadow: 7px 7px 7px #6a6765;
    }

    .sobreMim {
        margin-left: 150px;
        text-align: center;
        padding: 24px;
        width: 70%;
        background-color: #92908d;
        box-shadow: 7px 7px 7px #6a6765;
    }

    .habilidade1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .habilidade2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .opacidade {
        margin: 15px 0px;
    }
}